.spacesaver{
  padding: 10rem;
}

/* --------- */
/* Home section */
/* --------- */

/* Global */
.generalcontainer1 {
  border: 5px solid rgb(255, 238, 0);
  padding-top: .5rem !important;
  padding-bottom: .5rem !important;
}

.generalrow1{
  border: 5px solid rgb(161, 41, 41);
  padding: .3rem !important;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 1px 1px rgb(0, 98, 122);
}

.generaltitle1 {
  text-align: left;
}

.generaldiv1{
  padding-top: 2rem;
  padding-bottom: 2rem; 
  padding-left: 3rem; 
  padding-right: 3rem;
}

/* Title */
.titlemain {
  border: 5px solid rgb(255, 238, 0);
  padding-top: 1rem !important;
  padding-right: 2rem !important;
  padding-bottom: .5rem !important;
  padding-left: 2rem !important;
}

.titlerow{
  border: 5px solid rgb(161, 41, 41);
  padding: .3rem !important;
  border-radius: 5px;
}

.iconrow{
  border: 5px solid rgb(58, 12, 226);
  padding: .3rem !important;
  border-radius: 5px;
}

.iconspace{
  border: 5px solid rgb(60, 163, 39);
}


.titlemainname{
  text-align: center;
}

/* About Me */
.hellobox {
  border: 5px solid rgb(0, 0, 0);
}

.aboutmeinformation{
  border: 5px solid rgb(58, 12, 226);
}

.aboutmehomebox {
  border: 5px solid rgb(0, 0, 0);
}

.aboutmetitle {
  text-align: center;
}

.aboutmedesctiption {
  text-align: left;
  padding-left: 2rem !important;
  padding-bottom: 2rem !important;
  padding-top: 1rem !important;
}

/*Projects*/
.projectscontainer {
  border: 5px solid rgb(255, 238, 0);
  padding-top: .5rem;
  padding-right: 2rem;
  padding-bottom: .5rem;
  padding-left: 2rem;
}

.projecttitle{
  text-align: left
}

.projectdescription{
  text-align: left
}

/* Developer Tools */
.tool-icons {
  font-size: 5rem !important;
  margin: 1rem !important;
  padding: 1rem !important;
  opacity: 1 !important;
  border: 2px solid rgba(5, 165, 170, 0.637) !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  box-shadow: 4px 5px 4px 3px rgba(0, 88, 81, 0.137) !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
}

.tool-icons:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  border: 2.2px solid rgba(0, 247, 255, 0.883) !important;
}
.tool-icon-images {
  padding: 1rem !important;
  line-height: 2 !important;
}

/* --------- */
/* Footer */
/* --------- */

.footer {
  position: static;
  padding-top: 1rem;
  border: 1px solid var(--color-stroke);
  bottom: 0;
  width: 100%;
  color: rgb(0, 0, 0);
  text-align: center;
}
.cardbackground{
  background: #ffffff;
  z-index: 0;
}

.footerbackground {
  background-image: url("./information/pictures/Fuji_Old.png");
  background-size:     cover;                 
  background-repeat:   no-repeat;
  background-position: bottom center;
  opacity: .85;
  z-index: 1;
}

/* etc. */
  .row1 {
    border: 5px solid rgb(0, 0, 0);
  }

  .row2{
    border: 5px solid rgb(255, 0, 0);
  }

  .column1 {
    border: 5px solid rgb(0, 255, 55);
  }

  .column2{
    border: 5px solid rgb(255, 238, 0);
    padding: 3rem;
  }

  .div1 {
    border: 5px solid rgb(255, 0, 242);
  }

  .div2{
    border: 5px solid rgb(25, 0, 255);
  }